@font-face {
  font-family: 'Delirium';
  src: url('/fonts/cfk2.woff2') format('woff2'),
       url('/fonts/cfk.woff') format('woff'),
       url('/fonts/DeliriumNcv.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'Delirium', sans-serif;
  letter-spacing: 3px;
}

body {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    line-height: 1.6;
    background-color: #121212;
    padding-top: 5rem; /* Increased from 4rem to 5rem to account for larger navbar */
}

.section {
    padding: 4rem 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-highlight {
    color: #FFD700;
}

.btn-primary {
    background-color: #FFD700;
    color: #121212;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #FFC800;
    transform: translateY(-2px);
}
